<ol>
{{#each users as |u|}}
<li>Username: {{username}} | Email: {{email}}</li>
{{/each}}
</ol>

<h2>Add user here!</h2>

<form action="" method="post">
    {{#if context}}
        <p class="errorMessage">{{context.errorMessage}}</p>
    {{/if}}
    <input type="text" name="firstName" placeholder="First name" required="required">
    <input type="text" name="lastName" placeholder="Last name" required="required">
    <input type="text" name="username" placeholder="Username" required="required">
    <input type="email" name="email" placeholder="Email" required="required">
    <input type="password" id="password" name="password" placeholder="Password" required="required">
    <input type="submit" value="Add">
</form>

<h2>Delete user here!</h2>

<form action="" method="post">
    {{#if context}}
        <p class="errorMessage">{{context.errorMessage}}</p>
    {{/if}}
    <input type="text" name="username" placeholder="Username" required="required">
    <input type="submit" value="Delete">
</form>
