{{> createPostForm userLoggedIn=userLoggedIn}}
<!--<div class="postsContainer">

</div>
{{> createPostBox userLoggedIn=userLoggedIn}}

<script>
    const script = document.createElement('script');
    script.src = '/js/index.js';
    document.getElementById('myScript').appendChild(script);
</script>
-->