<div class="loginContainer">
    <h1>Login</h1>

    <form action="" method="post">
        <input type="text" name="logUsername" placeholder="Username or email" required="required">
        <input type="password" name="password" placeholder="Password" required="required">
        <input type="submit" value="Login">
    </form>

    <a href="/register">Need an account? Register here!</a>
</div>