<div class="box fade" id="deletePostBox" tabindex="-1" role="dialog" aria-labelledby="deletePostBoxLabel" aria-hidden="true">
  <div class="box-dialog" role="document">
    <div class="box-content">
      <div class="box-header">
        <h5 class="box-title" id="deletePostBoxLabel">Delete the post?</h5>
        <button class="close" type="button" data-dismiss="box" aria-label="Close"></button><span aria-hidden="true">&times;</span>
      </div>
      <div class="box-body">
        <p>You won't be able to delete this.</p>
      </div>
      <div class="box-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="box">Close</button>
        <button class="btn btn-primary" id="deletePostButton" type="button">Delete</button>
      </div>
    </div>
  </div>
</div>