<div class="box fade" id="confirmPinBox" tabindex="-1" role="dialog" aria-labelledby="confirmPinBoxLabel" aria-hidden="true">
  <div class="box-dialog" role="document">
    <div class="box-content">
      <div class="box-header">
        <h5 class="box-title" id="confirmPinBoxLabel">Pin this post?</h5>
        <button class="close" type="button" data-dismiss="box" aria-label="Close"></button><span aria-hidden="true">&times;</span>
      </div>
      <div class="box-body">
        <p>This post will appear at the top of your profile. You can only pin one post.</p>
      </div>
      <div class="box-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="box">Cancel</button>
        <button class="btn btn-primary" id="pinPostButton" type="button">Pin</button>
      </div>
    </div>
  </div>
</div>