<div class="box fade" id="imageUploadBox" tabindex="-1" role="dialog" aria-labelledby="imageUploadBoxLabel" aria-hidden="true">
  <div class="box-dialog" role="document">
    <div class="box-content">
      <div class="box-header">
        <h5 class="box-title" id="imageUploadBoxLabel">Upload a new profile picture</h5>
        <button class="close" type="button" data-dismiss="box" aria-label="Close"></button><span aria-hidden="true">&times;</span>
      </div>
      <div class="box-body">
        <input id="filePhoto" type="file" name="filePhoto"/>
        <div class="imagePreviewContainer"><img id="imagePreview"/></div>
      </div>
      <div class="box-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="box">Cancel</button>
        <button class="btn btn-primary" id="imageUploadButton" type="button">Save</button>
      </div>
    </div>
  </div>
</div>